<div class="flex flex-col w-full h-full min-h-0">
  <div class="flex-1 min-h-0 overflow-y-auto px-4 pt-4 scrollbar">
    @if(messages$ | async; as messages ){ @if(messages.result?.length !== 0){
    <div class="mx-auto w-full md:max-w-[750px] flex flex-col pb-64">
      @if(messages.loading){
      <!-- Skeleon -->
      <div class="flex flex-col gap-y-10 mt-5 mx-5 md:mt-10 md:mx-4">
        <div
          role="status"
          class="animate-pulse flex justify-end gap-x-3 items-center"
        >
          <div class="flex flex-col items-end gap-y-2">
            <div class="w-32 md:w-64 h-3 bg-gray-200 rounded-full"></div>
            <div class="w-18 md:w-32 h-2 bg-gray-200 rounded-full"></div>
            <div class="w-24 md:w-48 h-2 bg-gray-200 rounded-full"></div>
          </div>
          <div class="w-10 h-10 rounded-full bg-gray-200"></div>
        </div>
        <div role="status" class="animate-pulse flex gap-x-3 items-center">
          <div class="w-10 h-10 rounded-full bg-gray-200"></div>
          <div class="flex flex-col gap-y-2">
            <div class="w-24 md:w-48 h-3 bg-gray-200 rounded-full"></div>
            <div class="w-32 md:w-64 h-2 bg-gray-200 rounded-full"></div>
            <div class="w-18 mdw-32 h-2 bg-gray-200 rounded-full"></div>
          </div>
        </div>
        <div
          role="status"
          class="animate-pulse flex justify-end gap-x-3 items-center"
        >
          <div class="flex flex-col items-end gap-y-2">
            <div class="w-18 md:w-32 h-3 bg-gray-200 rounded-full"></div>
            <div class="w-32 md:w-48 h-2 bg-gray-200 rounded-full"></div>
          </div>
          <div class="w-10 h-10 rounded-full bg-gray-200"></div>
        </div>
      </div>

      } @if(messages.result){
      <div class="px-5 flex flex-col gap-y-0.5">
        @for(message of messages.result; track message.id){
        <article class="w-full">
          <div
            class="flex w-full"
            [ngClass]="{
              'justify-end': message.role === 'user',
              'justify-start': message.role === 'model'
            }"
          >
            <div
              class="group/userOptions flex flex-col gap-y-1 w-full"
              [ngClass]="{
                'items-end': message.role === 'user',
                'items-start': message.role === 'model'
              }"
            >
              <div
                class=""
                [ngClass]="{
                  'px-4 py-1.5 rounded-[18px] bg-indigo-100 max-w-[70%] ':
                    message.role === 'user',
                  'w-full': message.role === 'model'
                }"
              >
                <p class="whitespace-pre-wrap wrap-break-word">
                  {{ message.content }}
                </p>
              </div>

              <!-- Options -->
              @if(message.role === 'user'){
              <div
                class="invisible opacity-0 group-hover/userOptions:visible group-hover/userOptions:opacity-100 flex justify-center items-center transition-all ease-in-out duration-300"
              >
                <!-- Copy message -->
                <button
                  class="group/icon p-2 hover:bg-indigo-100 cursor-pointer rounded-lg"
                >
                  <lucide-icon
                    name="copy"
                    title="Copy"
                    class="text-blue-900 opacity-90 group-hover/icon:opacity-100"
                    size="16px"
                  ></lucide-icon>
                </button>

                <!-- Edit message -->
                <button
                  class="group/icon p-2 hover:bg-indigo-100 cursor-pointer rounded-lg"
                >
                  <lucide-icon
                    name="pencil"
                    title="Edit message"
                    class="text-blue-900 opacity-90 group-hover/icon:opacity-100"
                    size="16px"
                  ></lucide-icon>
                </button>
              </div>
              } @if(message.role === 'model'){
              <div class="mb-10 w-full flex items-center">
                <!-- Copy response -->
                <button
                  class="group/icon p-2 hover:bg-indigo-100 cursor-pointer rounded-lg"
                >
                  <lucide-icon
                    name="copy"
                    title="Copy"
                    class="text-blue-900 opacity-90 group-hover/icon:opacity-100"
                    size="16px"
                  ></lucide-icon>
                </button>

                <!-- Like response -->
                <button
                  class="group/icon p-2 hover:bg-indigo-100 cursor-pointer rounded-lg"
                >
                  <lucide-icon
                    name="thumbs-up"
                    title="Good response"
                    class="text-blue-900 opacity-90 group-hover/icon:opacity-100"
                    size="16px"
                  ></lucide-icon>
                </button>

                <!-- Dislike response -->
                <button
                  class="group/icon p-2 hover:bg-indigo-100 cursor-pointer rounded-lg"
                >
                  <lucide-icon
                    name="thumbs-down"
                    title="Bad response"
                    class="text-blue-900 opacity-90 group-hover/icon:opacity-100"
                    size="16px"
                  ></lucide-icon>
                </button>

                <!-- Try again -->
                <button
                  class="group/icon p-2 hover:bg-indigo-100 cursor-pointer rounded-lg"
                >
                  <lucide-icon
                    name="refresh-cw"
                    title="Try again"
                    class="text-blue-900 opacity-90 group-hover/icon:opacity-100"
                    size="16px"
                  ></lucide-icon>
                </button>
              </div>
              }
            </div>
          </div>
        </article>
        }
      </div>
      @if(modelThinking | async){
      <div>
        <app-pacman-loading></app-pacman-loading>
      </div>
      } }
    </div>
    }}
    <div class="mx-auto w-full md:max-w-[750px] sticky bottom-0 px-5 bg-white">
      <app-user-prompt-form
        [currentChatId]="currentChatId"
      ></app-user-prompt-form>

      <div class="flex justify-center items-center p-2">
        <p class="text-xs text-muted-foreground">
          Pixella can make mistakes. Check important information.
        </p>
      </div>
    </div>
  </div>
</div>
