<div class="flex flex-col w-full shrink-0 px-1">
  <button
    class="flex w-full justify-between items-center px-1.5 py-2 select-none cursor-pointer rounded hover:bg-cardOverlayHover hover:drop-shadow-lg"
    (click)="profile()"
  >
    <div class="flex gap-x-1">
      @if(userInitial !== ''){
      <div
        class="text-yellow-300 border-2 border-blue-900 rounded-full bg-indigo-600 w-7 h-7 flex items-center justify-center"
      >
        <p class="font-bold leading-none -translate-y-px">
          {{ userInitial | uppercase }}
        </p>
      </div>

      } @else{
      <div class="flex items-center">
        <lucide-icon
          name="circle-user-round"
          title="User"
          class="text-blue-900"
        ></lucide-icon>
      </div>
      }
      <p class="font-semibold flex items-center text-lg ml-1 text-blue-950">
        {{ username }}
      </p>
      <div class="flex items-center">
        <lucide-icon
          name="chevrons-up-down"
          title="Details"
          class="text-blue-900"
          size="16px"
        ></lucide-icon>
      </div>
    </div>

    <button
      class="group-hover/item:flex flex cursor-pointer md:hidden items-center w-fit p-1 rounded transition-colors ease-in duration-150 hover:bg-purple-300"
      (click)="toggleSidebar(); $event.stopPropagation()"
    >
      <lucide-icon
        name="chevrons-left"
        title="Close sidebar"
        class="text-blue-950"
        size="20px"
      ></lucide-icon>
    </button>
  </button>
  <div class="shrink-0 px-1 pt-[18px] md:pt-2 text-base/snug font-[450]">
    <!-- New chat -->
    <button
      class="group w-full flex items-center justify-between gap-0.5 cursor-pointer px-2.5 py-1 rounded hover:bg-cardOverlayHover hover:drop-shadow-lg"
    >
      <a routerLink="/chat/new" class="flex items-center gap-2.5 max-w-[90%]">
        <lucide-icon
          name="square-pen"
          title="New chat"
          class="text-blue-900"
          size="18px"
        ></lucide-icon>
        <p class="truncate">New chat</p>
      </a>
      <div class="hidden group-hover:block transition-all ease-in duration-100">
        <p class="text-sm opacity-50 whitespace-nowrap">Ctrl + Shift + O</p>
      </div>
    </button>

    <!-- serach chats -->
    <button
      class="group w-full flex items-center justify-between gap-0.5 cursor-pointer px-2.5 py-1 rounded hover:bg-cardOverlayHover hover:drop-shadow-lg"
    >
      <div class="flex items-center gap-2.5 max-w-[90%]">
        <lucide-icon
          name="search"
          title="Search chats"
          class="text-blue-900"
          size="18px"
        ></lucide-icon>
        <p class="truncate">Search chats</p>
      </div>
      <div class="hidden group-hover:block transition-all ease-in duration-100">
        <p class="text-sm opacity-50 whitespace-nowrap">Ctrl + K</p>
      </div>
    </button>

    <!-- Settings -->
    <button
      class="group w-full flex items-center justify-between gap-0.5 cursor-pointer px-2.5 py-1 rounded hover:bg-cardOverlayHover hover:drop-shadow-lg"
    >
      <div class="flex items-center gap-2.5 max-w-[90%]">
        <lucide-icon
          name="Settings"
          title="Settings"
          class="text-blue-900"
          size="18px"
        ></lucide-icon>
        <p class="truncate">Settings</p>
      </div>
      <div class="hidden group-hover:block transition-all ease-in duration-100">
        <p class="text-sm opacity-50 whitespace-nowrap">Ctrl + K</p>
      </div>
    </button>
  </div>
</div>
